@media print {
  @page {
    size: A4;
  }

  header,
  footer {
    display: none;
  }

  body,
  body .page {
    padding: 0;
    margin: 0;
  }

  .template {
    box-shadow: none;
    width: 100%;

    &.template1 {
      display: grid;
      grid-template-columns: 2fr 3fr;
    }
  }

  .resume-alert,
  .btn-group,
  .box-size-info {
    display: none !important;
  }

  .avatar.avatar-hidden {
    display: none !important;
  }
}